@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --blue : #007bff;
  --indigo : #233067;
  --darkblue : #060d46;
  --black : #000000;
  --white : #ffffff;
  --lightgrey : #333333;
  --violet :#d63aff;
}
.App {
  font-size : 15px;
}
