#SearchBox{
    position : absolute;
    top : 45px;
    min-width : 500px;
    max-width : 700px;
    left : 166px;
    color : black;
    border-radius : 5px;
    background : transparent;
    z-index: 99;
    animation : fadeIn .4s forwards;
}
.SearchAirport{
    width : 100%;
    cursor: pointer;
    color : black;
    background : white;
    border : 1px solid #000;
    animation : fadeIn .5s forwards;
    text-align: center;
    font-family : 'Raleway' ,sans-serif;
}
.SearchAirport:hover{
    background : #eee;
}
.SearchAirport .AirportCodesWrapper{
    display : flex;
    flex-direction: row;
}
.SearchAirport .AirportName{
    margin : 10px;
    font-size : 22px;
}   
.SearchAirport .AirportIATA{
    margin : 10px;
    font-size : 16px;

}
.SearchAirport .AirportICAO{
    margin : 10px;
    font-size : 16px;
}
@keyframes fadeIn{
    from{
        opacity :0;
        transform : translateY(-30px);
    }
    to{
        opacity : 1;
        transform : translateY(0px);
    }
}