.PricesContainer{
    position: absolute;
    top : 300px;
    left: 900px;
    width : 500px;
    z-index: 2;
    background-color: rgba(0,0,0,.3);
    border : 1px solid transparent;
}
.PriceComponenet{
    position: relative;
    background-color: rgba(0,0,0,.4);
    height: 50px;
    width : 500px;
    z-index: inherit;
    border : 1px solid transparent;
    text-align: left;
}
.PriceComponent#inbox{
    color : white;
    font-size : 17px;
    text-align: left;
    padding-left : 5px;
}
.PriceComponenet#even{
    background-color: rgba(0,0,0,.2);
}
.PriceComponenet#even:hover{
    background-color: rgba(0,0,0,.7);
}
.PriceComponenet#odd{
    background-color: rgba(0,0,0,.5);
}
.PriceComponenet#odd:hover{
    background-color: rgba(0,0,0,.7);
}